@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Righteous&display=swap');
/*
    font-family: 'Dongle', sans-serif;
    font-family: 'Righteous', cursive;
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --night: #0b090aff;
    --eerie-black: #161a1dff;
    --transculent-gray: #3e3e3e38;
    --blood-red: #660708ff;
    --cornell-red: #a4161aff;
    --cornell-red-2: #ba181bff;
    --imperial-red: #e5383bff;
    --silver: #b1a7a6ff;
    --timberwolf: #d3d3d3ff;
    --white-smoke: #f5f3f4ff;
    --white: #ffffffff;
    --wheat: #f5deb3;

}
body{
    background-image: url(Images/AMOGUS_BC.jpg);
    background-size: contain;
    object-fit: cover;
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 2fr 21fr 2fr;
    color: var(--white-smoke);
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cornell-red-2);
    border-radius: 0 0 2rem 2rem;
    border: 0.4rem solid var(--eerie-black);
    border-top: none;
    padding: 1rem;
    width: 85%;
    margin: 0 auto;
}
header img{
    width: 3rem;
    margin-right: auto;
}
h1{
    width: 100%;
    text-align: center;
    margin-right: 3rem;
}
h1 pre{
    font-family: 'Righteous', cursive;
}
header nav img:hover {
    animation: spin-once 0.4s forwards;
}
@keyframes spin-once {
    0% {
        transform: rotate(0deg);}
    100% {
        transform: rotate(360deg);}
}
main{
    width: 80%;
    background-color: var(--eerie-black);
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    grid-template-rows: 0.7fr 2fr 3fr;
}
.slogan{
    font-family: 'Righteous', cursive;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: var(--transculent-gray);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    display: grid;
    align-items: center;
}
.slogan p span{
    color: var(--cornell-red-2);
    display: block;
    font-size: 2rem;
    padding-bottom: 0.2rem;
}
.about-part{
    display: flex;
    flex-direction: row;
    background-color: var(--transculent-gray);
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 1rem auto;
}
.about-part img{
    float: right;
    width: 35%;
    border-radius: 0.5rem;
}
.about-text{
    font-family: 'Righteous', cursive;
    min-width: 65%;
    padding-right: 0.5rem;
}
.about-text ul{
    list-style: disc;
    margin: 0.5rem 0  0.5rem 2rem;
}
.about-text ul li{
    margin-bottom: 0.5rem;
}
.red{
    color: var(--cornell-red);
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem;
}
.maps{
    background-color: var(--transculent-gray);
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-family: 'Righteous', cursive;
    text-align: center;
}
.maps a img{
    width: 75%;
    display: block;
    margin: 1rem auto;
}
.maps h2{
    margin-bottom: 0.6rem;
    text-align: center;
}
.roles{
    background-color: var(--transculent-gray);
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-family: 'Righteous', cursive;
    line-height: 1.6rem;
    text-align: center;
}
.roles h2{
    margin-bottom: 0.6rem;
}
.role{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    gap: 0.5rem;
}
.role-reverse{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: right;
    gap: 0.5rem;
}
.roles div img{
    width: 20%;
}

.benefits{
    background-color: var(--transculent-gray);
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-family: 'Righteous', cursive;
    line-height: 1.6rem;
    text-align: center;
}
.benefits h2{
    margin-bottom: 1rem;
}
.benefits ul{
    display: grid;
    gap: 0.5rem;
}
.benefits ul li{
    list-style-type: none;
}
.benefits ul li a{
    color: var(--silver);
    text-decoration: none;
}
footer{
    background-color: var(--cornell-red);
    border-radius: 2rem 2rem 0 0;
    border: 0.4rem solid var(--eerie-black);
    border-bottom: none;
    padding: 1rem 2rem ;
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-family: 'Righteous', cursive;
}
