@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Righteous&display=swap');
/*
    font-family: 'Dongle', sans-serif;
    font-family: 'Righteous', cursive;
    color: var(--wheat);
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
:root{
    --night: #0b090aff;
    --eerie-black: #161a1dff;
    --blood-red: #660708ff;
    --cornell-red: #a4161aff;
    --cornell-red-2: #ba181bff;
    --imperial-red: #e5383bff;
    --silver: #b1a7a6ff;
    --timberwolf: #d3d3d3ff;
    --white-smoke: #f5f3f4ff;
    --white: #ffffffff;
    --wheat: #f5deb3;
}
body{
    background-image: url(Images/AMOGUS_BC.jpg);
    background-size: contain;
    object-fit: cover;
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 10% 80% 10%;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cornell-red);
    border-radius: 0 0 2rem 2rem;
    border: 0.4rem solid var(--eerie-black);
    border-top: none;
    padding: 1rem;
    width: 85%;
    margin: 0 auto;
}
main{
    width: 80%;
    background-color: var(--eerie-black);
    display: grid;
    grid-template-columns: 45% 55%;
    margin: 0 auto;
}
footer{
    background-color: var(--cornell-red);
    border-radius: 2rem 2rem 0 0;
    border: 0.4rem solid var(--eerie-black);
    border-bottom: none;
    padding: 1rem 2rem ;
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
header img{
    width: 3rem;
    margin-right: 100%;
}