@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Righteous&display=swap');
/*
    font-family: 'Dongle', sans-serif;
    font-family: 'Righteous', cursive;
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --night: #0b090aff;
    --eerie-black: #161a1dff;
    --transculent-gray: #3e3e3e38;
    --blood-red: #660708ff;
    --cornell-red: #a4161aff;
    --cornell-red-2: #ba181bff;
    --imperial-red: #e5383bff;
    --silver: #b1a7a6ff;
    --timberwolf: #d3d3d3ff;
    --white-smoke: #f5f3f4ff;
    --white: #ffffffff;
    --wheat: #f5deb3;
    --gold: #e9a01a;
}
body{
    background-image: url(Images/AMOGUS_BC.jpg);
    background-size: contain;
    object-fit: cover;
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 2fr 21fr 2fr;
    color: var(--white-smoke);
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cornell-red-2);
    border-radius: 0 0 2rem 2rem;
    border: 0.4rem solid var(--eerie-black);
    border-top: none;
    padding: 1rem;
    width: 85%;
    margin: 0 auto;
}
header img{
    width: 3rem;
    margin-right: auto;
}
h1{
    width: 100%;
    text-align: center;
    margin-right: 3rem;
}
h1 pre{
    font-family: 'Righteous', cursive;
}
header nav img:hover {
    animation: spin-once 0.4s forwards;
}
@keyframes spin-once {
    0% {
        transform: rotate(0deg);}
    100% {
        transform: rotate(360deg);}
}
main{
    width: 80%;
    background-color: var(--eerie-black);
    margin: 0 auto;
    padding: 0.6rem 1rem;
    font-family: 'Righteous', cursive;
    display: grid;
    grid-template-columns: 53% 47%;
}
.sus{
    color: var(--cornell-red);
}
.left-side{
    text-align: justify;
}
.god{
    background-color: var(--transculent-gray);
    padding: 0.5rem;
    border-radius: 0.5rem;
    line-height: 1.2rem;
}
.god h1{
    text-align: left;
    margin-bottom: 0.5rem;
}
.god img{
    width: 15%;
    float: left;
    margin: 0 0.5rem 0.5rem 0;
}
.powers{
    background-color: var(--transculent-gray);
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 1rem 0;
    line-height: 1.2rem;
}
.powers h1{
    text-align: left;
    margin-bottom: 0.5rem;
}
.powers img{
    width: 30%;
    float: right;
    margin: 0 0 0.5rem 0.5rem;
}
.info{
    background-color: var(--transculent-gray);
    padding: 0.5rem;
    border-radius: 0.5rem 0.5rem 0 0;
}
.info img{
    width: 20%;
    float: left;
    margin-right: 0.5rem;
}
.disease{
    background-color: var(--transculent-gray);
    padding: 0.5rem;
    text-align: center;
    margin: 0.3rem 0;
}
.disease ul{
    margin-top: 0.5rem;
    display: grid;
    justify-content: center;
    grid-template-columns: 20% 20% 35%;
    gap: 2rem;
}
.disease ul li{
    list-style-type: none;
    text-align: center;
}
.behavior{
    background-color: var(--transculent-gray);
    padding: 0.5rem;
    border-radius: 0 0 0.5rem 0.5rem;
}
.behavior h3{
    text-align: center;
}
.behavior p{
    margin-bottom: 0.5rem;
}
.behavior p:first-of-type{
    text-align: center;
    margin-bottom: 0.5rem;
}   
.list{
    min-height: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
}
.list div{
    width: auto;
    background-color: var(--gold);
    border: solid 0.4rem var(--night);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.25rem;

}
.list div:hover{
    box-shadow: 0 0 2.5rem var(--timberwolf);
}
footer{
    background-color: var(--cornell-red);
    border-radius: 2rem 2rem 0 0;
    border: 0.4rem solid var(--eerie-black);
    border-bottom: none;
    padding: 1rem 2rem ;
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-family: 'Righteous', cursive;
}