@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    --eerie-black: #161a1dff;
    --transculent-gray: #3e3e3e38;
    --cornell-red-2: #ba181bff;
    --white-smoke: #f5f3f4ff;
}
body{
    background-image: url(Images/AMOGUS_BC.jpg);
    background-size: contain;
    object-fit: cover;
    margin: 0 auto;
    max-width: 1440px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 2fr 21fr 2fr;
    color: var(--white-smoke);
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cornell-red-2);
    border-radius: 0 0 2rem 2rem;
    border: 0.4rem solid var(--eerie-black);
    border-top: none;
    padding: 1rem;
    width: 85%;
    margin: 0 auto;
}
header img{
    width: 3rem;
    margin-right: auto;
}
h1{
    width: 100%;
    text-align: center;
    margin-right: 3rem;
}
h1 pre{
    font-family: 'Righteous', cursive;
}
main{
    width: 80%;
    background-color: var(--eerie-black);
    margin: 0 auto;
    padding: 0.6rem 1rem;
    font-family: 'Righteous', cursive;
}
.banner{
    position: relative;
}
.banner img{
    width: 100%;
    filter: brightness(25%);
    border-radius: 0.5rem;
}
.banner p {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(10%, 20%);
    width: 60%;
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 4em;
    line-height: 5rem;
    text-align: center;
}
.lore{
    background-color: var(--transculent-gray);
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 0.5rem;
}
.lore p{
    text-align: justify;
    padding: 0.5rem;
    margin-top: 0.5rem;
    line-height: 1.4rem;
}
.how-to{
    background-color: var(--transculent-gray);
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 0.5rem;
    text-align: center;
}
.how-to p{
    text-align: center;
}
.background{
    position: relative;
    margin: 0.4rem 0;
    padding: 2%;
    border-radius: 1rem;
    border: 0.2rem solid var(--cornell-red-2);
    background-color: black;
}
.background img{
    width: 100%;
}
.overlap{
    position: absolute;
    top: 2%;
    left: 2%;
    width: 96%;
    height: 96%;
}
.grid-container{
    display: grid;
    grid-template: repeat(17,1fr) / repeat(25,1fr);
    height: 100%;
}
footer{
    background-color: var(--cornell-red-2);
    border-radius: 2rem 2rem 0 0;
    border: 0.4rem solid var(--eerie-black);
    border-bottom: none;
    padding: 1rem 2rem ;
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-family: 'Righteous', cursive;
}

header img:hover {
    animation: spin-once 0.4s forwards;
}
@keyframes spin-once {
    0% {
        transform: rotate(0deg);}
    100% {
        transform: rotate(360deg);}
}