@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --eerie-black: #161a1dff;
    --transculent-gray: #3e3e3e38;
    --cornell-red-2: #ba181bff;
    --silver: #b1a7a6ff;
    --white-smoke: #f5f3f4ff;
}
body{
    background-image: url(Images/AMOGUS_BC.jpg);
    background-size: contain;
    object-fit: cover;
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 2fr 21fr 2fr;
    color: var(--white-smoke);
    font-family: 'Righteous', cursive;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cornell-red-2);
    border-radius: 0 0 2rem 2rem;
    border: 0.4rem solid var(--eerie-black);
    border-top: none;
    padding: 1rem;
    width: 85%;
    margin: 0 auto;
}
header img{
    width: 3rem;
    margin-right: auto;
}
h1{
    width: 100%;
    text-align: center;
    margin-right: 3rem;
}
h1 pre{
    font-family: 'Righteous', cursive;
}
header nav img:hover {
    animation: spin-once 0.4s forwards;
}
@keyframes spin-once {
    0% {
        transform: rotate(0deg);}
    100% {
        transform: rotate(360deg);}
}
main{
    width: 80%;
    background-color: var(--eerie-black);
    margin: 0 auto;
    padding: 0.6rem 1rem;
    position: relative;
}
main::before{
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(Images/AMOGUS.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; 
    position: absolute;
    opacity: 0.08;
}
main div{
    position: relative;
    z-index: 1;
}
.sus{
    color: var(--cornell-red-2);
}
.who-is-amogus{
    background-color: var(--transculent-gray);
    text-align: center;
    width: 65%;
    margin: 0 auto 1rem auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.problems{
    background-color: var(--transculent-gray);
    border-radius: 0.5rem;
    padding: 0.5rem;
}
.problems h2{
    text-align: center;
}
.tab{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.tab img{
    width: 15%;
    float: left;
    margin-left: 0.5rem ;
}
.tab img:first-child{
    float: right;
    margin: 0 0.5rem 0 0;
}
.tab p{
    padding: 1rem 0;
    text-align: center;
}
.intro{
    background-color: var(--transculent-gray);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 1rem 0;
}
.intro p{
    text-align: justify;
}
.intro p:last-child{
    text-align: center;
    margin-top: 1rem;
}
.hnilmog{
    background-color: var(--transculent-gray);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 1rem 0;
}
.hnilmog img{
    width: 15%;
    float: left;
    margin-right: 1rem;
}
.hnilmog h2{
    text-align: center;
}
.hnilmog p{
    text-align: justify;
}
.hnilmog a{
    text-decoration: none;
    color: var(--silver);
}
.amonila{
    background-color: var(--transculent-gray);
    border-radius: 0.5rem;
    padding: 0.5rem;
}
.amonila img{
    float: right;
    width: 15%;
    margin-left: 1rem;
}
.amonila h3{
    text-align: right;
}
.amonila p{
    text-align: justify;
    padding-bottom: 3rem;
}
.beginning{
    background-color: var(--transculent-gray);
    border-radius: 0.5rem;
    padding: 0.5rem;
}
.beginning img{
    width: 15%;
    float: left;
    margin-right: 1rem;
    border-radius: 0.5rem;
}
.beginning h2{
    text-align: center;
}
.susler{
    background-color: var(--transculent-gray);
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: justify;
    margin: 1rem 0;
}
.susler a{
    text-decoration: none;
    color: var(--silver);
}
.susler h3{
    text-align: right;
}
.susler img{
    width: 20%;
    float: right;
    margin-right: 1rem;
}
.system{
    background-color: var(--transculent-gray);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 1rem 0;
    text-align: justify;
}
.system h2{
    text-align: center;
}
.sussy-measurer{
    background-color: var(--transculent-gray);
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem 1.5rem 0.5rem;
    text-align: justify;
}
.sussy-measurer img{
    width: 15%;
    float: left;
}
footer{
    background-color: var(--cornell-red-2);
    border-radius: 2rem 2rem 0 0;
    border: 0.4rem solid var(--eerie-black);
    border-bottom: none;
    padding: 1rem 2rem ;
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-family: 'Righteous', cursive;
}
